.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  flex-basis: 100%;
}

.column-third {
  flex-basis: calc(100% / 3);
}

.column-two-thirds {
  flex-basis: 60%;
}

@media screen and (min-width: 768px) {
  .container {
    margin: auto;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .column-half {
    flex-basis: 50%;
  }

  .column-two-thirds {
    flex-basis: 64%;
  }
}
