.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.column-third {
  flex-basis: calc(100% / 3);
}

.column-two-thirds {
  flex-basis: 60%;
}

.column-full,
.column-half {
  flex-basis: 100%;
}

.column-two-thirds-mobile {
  flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .row {
    /* align-items: baseline; */
    justify-content: space-around;
    align-content: center;
  }

  .column-half {
    flex-basis: 25%;
  }

  .column-two-thirds {
    /* flex-basis: 64%; */
    flex-basis: 100%;
  }

  .column-two-thirds-mobile {
    flex-basis: 30%;
  }

  .column-two-thirds-desktop {
    flex-basis: 64%;
  }
}

@media (min-width: 1024px) {
  .column-half {
    flex-basis: 20%;
  }
}
