@import "https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&family=Josefin+Sans:wght@100;300;400;600&family=Poppins:wght@400;500;600;700&display=swap";

body {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  background-color: #fff;

  /* color: white; */

  /* padding: 1.5rem; */
  font-size: 16px;

  /* color: #6d696a; */
}

/*
.gradient {
  background: linear-gradient(267deg, #a9aca9, #60495a, #2f2235);
  background-size: 400% 400%;
  animation: gradient-bg 20s ease infinite;
}

@keyframes gradient-bg {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
} */

.row-content {
  margin: 1rem 0 0;
}

.hidden {
  display: none;
}

img {
  width: 100%;
}

.header {
  font-size: smaller;
  background-color: #6d696a;
  align-items: center;
  flex-wrap: nowrap;
  color: white;
}

.position-sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}

.more-details {
  color: #bfc3ba;
}

.loader {
  position: fixed;
  padding-top: 15rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0 / 90%);
  text-align: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

a,
.name {
  cursor: pointer;
}

span.name {
  font-weight: 100;
  padding: 0;
}

.movie-title,
.year,
.crew,
.movie-id,
.rank,
.rating {
  margin: 0;
}

.year,
.crew,
.movie-id,
.rank,
.rating {
  font-size: 0.9rem;
}

.font-weight-100 {
  font-weight: 100;
}

.modal {
  position: fixed;
  padding-top: 15rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0 / 65%);
}

.modal-content {
  color: #3d405b;
  font-family: Inter, sans-serif;
  background-color: #f7f7ff;
  width: 80%;
  margin: auto;
  padding: 1.25rem 0.65rem;
  border: none;
  border-radius: 0.65rem;
  text-align: center;
  font-weight: bold;
  position: relative;
  font-size: 1.25rem;
}

.modal-button {
  background-color: #f7f7ff;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.65rem 1.5rem;
  border: none;
  border-radius: 0.9rem;
}

.confirm-button {
  color: #fe5f55;
  border: #fe5f55 solid 0.2rem;
}

.cancel-button {
  color: #3d405b;
  border: #3d405b solid 0.2rem;
}

.confirm-button:hover {
  color: white;
  background-color: #fe5f55;
}

.cancel-button:hover {
  color: white;
  background-color: #3d405b;
}

img.single-movie-poster {
  padding: 1rem;
}

div.padding {
  padding: 0.65rem;
}

.watchlist-button,
.delete-button {
  text-align: center;
}

span.rating {
  font-size: larger;
  font-weight: bold;
}

.more-details-button {
  padding: 0.3rem;
  border: solid 2px #000;

  /* box-shadow: 0 8px 2px 2px rgba(0, 0, 0, 0.11); */

  background-color: white;

  /* background: linear-gradient(135deg, #e66465, #9198e5); */
  color: #000;
  cursor: pointer;
}

p {
  font-size: smaller;
}

.flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.selected {
  font-weight: 700;
}

.more-button {
  text-align: end;
}

.info {
  display: flex;
  display: block;
}

.button-style {
  font-size: large;
  padding: 1.25rem 3.3rem;
  border: solid 2px #000;
  background-color: white;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
}

.button-style:hover,
.more-details-button:hover {
  color: white;
  background-color: #000;
}

p.single-rating {
  font-weight: 400;
  color: #fe5f55;
  margin: 0.3rem 0;
}

.desktop-view {
  display: none;
}

/* Desktop */
@media screen and (min-width: 768px) {
  .container {
    max-width: 700px;
    margin: 2rem auto 0;
  }

  p.single-rating {
    text-align: end;
  }

  .more-button {
    text-align: center;
    position: relative;
  }

  .button-style {
    font-size: 1rem;
    padding: 0.9rem 1.8rem;
  }

  .content-holder {
    color: #504e4e;
  }

  .row-content {
    width: 260px;
    height: 347px;
    text-align: center;

    /* border: solid 2px rgb(0, 0, 0); */
    background-color: #dae2df;
    border-radius: 5px;
    margin: 1rem;

    /* box-shadow: 0 5px 2px 2px rgb(0 0 0 / 11%); */
  }

  img.margin-right {
    width: 128px;
  }

  .mobile-view {
    display: none;
  }

  .desktop-view {
    display: contents;
  }

  .info {
    display: flex;
  }

  .more-details-button {
    border-radius: 5px;
    padding: 0.5rem;
    margin-top: 1rem;
    border: solid 2px #6d696a;
    color: #504e4e;
    cursor: pointer;

    /* box-shadow: 0 2px 2px 2px rgb(0 0 0 / 11%); */
  }

  h4.movie-title {
    cursor: pointer;
  }

  a:hover,
  h4.movie-title:hover {
    text-decoration: underline;
  }

  span.single-rating {
    font-size: x-large;
    font-weight: bold;
  }

  .delete-button {
    text-align: end;
  }

  .delete-from-watchlist {
    border-radius: 5px;
  }

  .delete-from-watchlist:hover {
    background-color: #000;
    color: white;
  }

  .watchlist-button {
    text-align: end;
  }

  .modal-content {
    width: 30%;
    padding: 3rem;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 2rem auto 0;
  }
}
