body {
  font-family: Inter, sans-serif;
  color: white;
  background-color: #111118;
  font-weight: bold;
}

img {
  width: 100%;
}

.hidden {
  display: none;
}

.header {
  font-size: smaller;
  background-color: #4f4f63;
  align-items: center;
  flex-wrap: nowrap;
}

.position-sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}

.name {
  font-weight: 600;
  letter-spacing: 0.08em;
  padding-left: 2rem;
}

span.name {
  font-weight: 100;
  padding: 0;
}

.content-holder {
  background-color: #1e1e29;
  border-radius: 0.65rem;
}

.margin {
  margin: 0.68rem 0.68rem 0;
}

.year,
.crew,
.movie-id,
.rank {
  margin: 0;
}

.font-weight-100 {
  font-weight: 100;
}

span.rating {
  font-size: larger;
  font-weight: bold;
}

.movie-title,
p.rating {
  margin: 0.5rem 0 0.3rem;
}

p {
  font-size: smaller;
}

.more-button {
  text-align: end;
}

.row-content {
  position: relative;
}

.more-details-button {
  font-size: small;
  color: white;
  background-color: #4f4f63;
  padding: 0.65rem 0.75rem;
  border: none;
  border-radius: 0.75rem;
  position: absolute;
  bottom: 0.875rem;
  right: 0.875rem;
}

.more-details-button:hover {
  background-color: #111118;
}

img.single-movie-poster {
  padding-right: 0.65rem;
}

p.single-rating {
  font-weight: 400;
  text-align: end;
  color: #fe5f55;
  margin: 0.3rem 0;
}

span.single-rating {
  font-size: larger;
  font-weight: bold;
}

.margin-line-spacing {
  margin: 0.125rem;
}

.padding {
  padding: 0.65rem;
}

.padding-left {
  padding-left: 0.65rem;
}

.flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.watchlist-button,
.delete-button {
  text-align: center;
}

.button-style {
  font-size: larger;
  color: white;
  background-color: #4f4f63;
  padding: 1.25rem 3.8rem;
  border: none;
  border-radius: 0.9rem;
}

.button-style:hover {
  background-color: #111118;
}

.selected {
  font-weight: 700;
}

.space-between {
  justify-content: space-between;
  margin: 0 1.25rem;
}

.modal {
  position: fixed;
  padding-top: 15rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0 / 65%);
}

.modal-content {
  color: #3d405b;
  font-family: Inter, sans-serif;
  font-size: x-large;
  background-color: #f7f7ff;
  width: 80%;
  margin: auto;
  padding: 1.25rem 0.65rem;
  border: none;
  border-radius: 0.65rem;
  text-align: center;
  font-weight: bold;
  position: relative;
}

.modal-button {
  background-color: #f7f7ff;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.65rem 1.5rem;
  border: none;
  border-radius: 0.9rem;
}

.confirm-button {
  color: #fe5f55;
  border: #fe5f55 solid 0.2rem;
}

.cancel-button {
  color: #3d405b;
  border: #3d405b solid 0.2rem;
}

.confirm-button:hover {
  color: white;
  background-color: #fe5f55;
}

.cancel-button:hover {
  color: white;
  background-color: #3d405b;
}

.desktop-view {
  display: none;
}

button,
a {
  cursor: pointer;
}

a:hover {
  color: #111118;
  font-weight: 700;
}

.loader {
  position: fixed;
  padding-top: 15rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0 / 90%);
  text-align: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

span.plot {
  text-align: justify;
}

/* Desktop */

@media screen and (min-width: 768px) {
  body {
    font-size: larger;
  }

  .margin {
    margin: 0.5rem 0;
  }

  .rating {
    text-align: end;

    /* font-size: small; */
  }

  span.rating {
    font-size: x-large;
  }

  h4.movie-title {
    margin-top: 1rem;
  }

  .year,
  .crew,
  .movie-id,
  .rank,
  .rating {
    padding-right: 0.43rem;
    margin-bottom: 0.3rem;
  }

  .content-holder {
    padding: 0.9rem 1.5rem;
    background-color: #111118;
  }

  .row-content {
    background-color: #1e1e29;
    border-radius: 0.65rem;
    position: relative;
  }

  .more-details-button {
    border-radius: 1rem;
    font-size: medium;
    padding: 0.9rem 1.5rem;
    position: absolute;
    bottom: 1.25rem;
    right: 1.25rem;
  }

  .backgroung-color {
    background-color: #1e1e29;
    border-radius: 0.65rem;
  }

  span.single-rating {
    font-size: x-large;
    font-weight: bold;
  }

  p.single-rating {
    margin-top: 1rem;
  }

  .margin-line-spacing {
    margin: 0.5rem 0;
  }

  .header > h3 {
    font-size: xx-large;
  }

  h2.movie-title {
    margin: 0.65rem 0 0.3rem;
  }

  .watchlist-button {
    text-align: end;
  }

  .button-style {
    font-size: smaller;
    color: white;
    background-color: #4f4f63;
    padding: 0.9rem 1.8rem;
    border: none;
    border-radius: 0.9rem;
  }

  .modal-content {
    width: 40%;
    padding: 3rem;
    margin: auto;
  }

  .delete-button {
    text-align: right;
  }

  .mobile-view {
    display: none;
  }

  .desktop-view {
    display: block;
  }
}
